name: Build and deploy

on:
  push:
    branches: [ master ]
    
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@master

      - name: Install dependencies
        run: npm install
        
      - name: Build dependencies
        run: CI=false npm run build
      
      - name: Archive production artifact
        uses: actions/upload-artifact@master
        
        with: 
          name: build
          path: build   